body{
    display: flex;
    flex-direction: column;
    margin: 0;    
}


.box2{
    background-color: blueviolet;
}

.box3{
    background-color: brown;
}

.box4{
    background-color: aqua;
}

.footer{
    background-color: chocolate;
}

/** header **/
.header{
    display: flex;
    font-family:Helvetica;
    justify-content: space-around;
    background-color: #eae7dc;
    align-items: center;
    color: #5d5d5a;
    padding: 8px;
}
.logo{
    font-size: 24px;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #5d5d5a;
    margin: 8px;
}

/** box1 **/

.box1{
    
    background-color: #eae7dc;
    height: 100vb;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.hero{
    display: flex;  
    align-items: center;
    margin-top: 200px;
}

.bhero{
    font-size: 68px;
    font-family: 'Courier New';
    font-weight: 700;
    color: #c96567;
}
.shero{
    font-family: 'Courier New';
    color: #5d5d5a;
}
.rhero{
    height: 300px;
    display: flex;
}