body{
    display: flex;
    flex-direction: column;
    
}


.box1{
    
    background-color: aquamarine;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box2{
    background-color: blueviolet;
}

.box3{
    background-color: brown;
}

.box4{
    background-color: aqua;
}

.footer{
    background-color: chocolate;
}

/** header **/
.header{
    display: flex;
    
}
.logo{
    font-size: 24px;
}

/** box1 **/
.hero{
    display: flex;
    height: 500px;
    align-items: center;
}
